# Fundamentals of Data Analysis Project

**Neil Anglim**
***

# Project brief

- The project is to create a notebook investigating the variables and data points within the well-known iris flower data set associated with Ronald A Fisher.
- In the notebook, you should discuss the classification of each variable within the data set according to common variable types and scales of measurement in mathematics, statistics, and Python.
- Select, demonstrate, and explain the most appropriate summary statistics to describe each variable.
- Select, demonstrate, and explain the most appropriate plot(s) for each variable.
- The notebook should follow a cohesive narrative about the data set

# Introduction

Brief background, origin, significance in data science and statistics

# Loading and understanding the dataset

import libraries and load dataset

First things first, we are going to load in the dataset, which is kindly provided within the seaborn library. And we are also going to load in additional libraries.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


iris = sns.load_dataset('iris')
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [2]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Variable Types & Scales of Measurement
Here I will discuss types of variables(categorical, numerical)
Classify the variables based on common variable types(nominal, ordinal, interval, ratio) and scales of measurement (categorical. ordinal, interval, ratio) in maths, statistics and Python.
Explain how python Represents these different variable types

***

## End