# Fundamentals of Data Analysis Project

**Neil Anglim**
***

# Project brief

- The project is to create a notebook investigating the variables and data points within the well-known iris flower data set associated with Ronald A Fisher.
- In the notebook, you should discuss the classification of each variable within the data set according to common variable types and scales of measurement in mathematics, statistics, and Python.
- Select, demonstrate, and explain the most appropriate summary statistics to describe each variable.
- Select, demonstrate, and explain the most appropriate plot(s) for each variable.
- The notebook should follow a cohesive narrative about the data set

# Introduction

The Iris dataset is a well-known and oft-cited dataset in the field of machine learning and statistics. It was introduced by British statistician and biologist Ronal Fisher in 1936 as an example of linear discriminant analysis. The  dataset  consists of measurements from three distinct species of Iris flower: *Iris setosa*, *Iris virginica* and *Iris versicolor*. 

Each observation in the Iris dataset represents a flower and includes four variables:

1. Sepal length (in centimeters)
2. Sepal width (in centimeters)
3. Petal length (in centimeters)
4. Petal width (in centimeters)

The Iris dataset is frequently used as a benchmark dataset of machine learning and serves as an introductory example in the teaching of data analysis and pattern recognition due to its small size. It is considered the best known database in pattern recognition literature according to (Dua and Graff, 2019), and is likened to the "Hello World" of Data Analysis (GeeksforGeeks, 2020).

# Loading and understanding the dataset

import libraries and load dataset

First things first, we are going to load in the dataset, which is kindly provided within the seaborn library. And we are also going to load in additional libraries.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


iris = sns.load_dataset('iris')
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [2]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Variable Types & Scales of Measurement

- Here I will discuss types of variables(categorical, numerical)
- Classify the variables based on common variable types(nominal, ordinal, interval, ratio) and scales of measurement (categorical. ordinal, interval, ratio) in maths, statistics and Python.
- Explain how python Represents these different variable types

# Summary Statistics for each variable

- calculate and display appropriate summary statistics for each variable
    - for numerical (sepal length, width, petal length, width): mean, median, standard deviation, min, max
    - categorical (species): count, unique values, mode

# Plots for each variable

demonstrate and explain the most appropriate plot(s) for each variable type.
- numerical variables : histogram / box plot / violin plot will all help to visualise the distributions 
- categorical : bar plot / count plot to display frequency or distribution
- scatter plots or pair plots possible to explore relationships

# Conclusion

- summmary of the main points of investigation; key takeaways, potential further analyses

***

## End